<!DOCTYPE html>
<html>
<head>
	<title>{{ page.title }}</title>
</head>
<body>
	test
<div>
	<a href="/"><img src="/Images/BannerLogo.png"/></a>
</div>
<nav>
	<ul style="margin-bottom: 30px">
		<li><a href="/">Home</a></li>
		<li><a href="/blog">Blog</a></li>
		<li><a href="/Guides">Guides</a></li>
		<li><a href="https://github.com/CalciumFramework">Source</a></li>
	</ul>
</nav>
<div class="container">

	{{ content }}

</div>
<footer>
	<ul>
		<li><a href="https://github.com/CalciumFramework">github.com/CalciumFramework</a></li>
	</ul>
</footer>
</body>
</html>